<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Thanks for getting an API token.</h1>
   <p>
     Your token is: <%= @user.api_token %>.<br>
   </p>
   <p>Thanks for your interest in our API!</p>
 </body>
</html>
