<div class="container">
  <h3>Admin Dashboard</h3>
  <div class="col-md-8 well">
    <div class="container">
      <%= render 'shared/user_show', user: @user %>
      <div class="btn-group col-md-offset-1">
        <%= link_to "All Albums", admin_albums_path, class: "btn btn-default btn" %>
        <%= link_to "All Users", admin_users_path, class: "btn btn-default btn" %>
      </div>
    </div>
  </div>
</div>
