<div class="container">
    <div class="btn-group">
      <%= link_to "All Albums", admin_albums_path, class: "btn btn-default btn-sm" %>
      <%= link_to "All Users", admin_users_path, class: "btn btn-default btn-sm" %>
    </div>
</div>
