<div class="albums container">
  <% if !albums.empty? %>
    <h3><%= context %> Albums</h3>
    <% albums.each do |album| %>
      <div class="container col-md-3">
        <div class="photo_tile well">
          <%= link_to album.title, album_path(album) %>
          <% photo = album.photos.first %>
          <% if photo %>
            <div class="thumbnail">
              <%= image_tag photo.image %>
            </div>
            <%= album.description.truncate_words(4) %></br>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
