<div class="albums container">
  <% if !albums.empty? %>
    <% albums.each do |album| %>
      <%= link_to album.title, album_path(album) %>
      <%= render 'shared/photo_tile', photo: album.photos.first %>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to "Create Album", new_album_path, class: "btn btn-primary" %>
  <% end %>
</div>
