<% flash.each do |type, msg| %>
  <%= content_tag :div, class: "alert alert-#{type}" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= sanitize(msg) %>
  <% end %>
<% end %>
