<div class="nabbar-default">
  <ul class="nav nav-tabs">
    <% if guest_user? %>
      <%= render 'shared/navigation_guest' %>
    <% elsif admin_user? %>

    <% elsif current_user %>

    <% end %>
  </ul>
</div>
