<%= render 'shared/my_albums_link' %>
<li role="presentation"><%= link_to "Admin dashboard", dashboard_path, class: "nav-item nav-link navbar-right" %></li>
<%= render 'shared/profile_link' %>
<%= render 'shared/logout_link' %>
