<div class="container col-md-3">
  <div class="photo_tile well">
    <% if photo %>
      <div class="thumbnail">
        <%= image_tag photo.image %>
      </div>
      <%= photo.caption %></br>
      <% if @album.owner?(current_user) %>
        <%= link_to 'Delete photo', photo_path(photo), method: :delete %></br>
        <%= link_to 'Edit caption', edit_photo_path(photo) %>
      <% end %>
    <% end %>
  </div>
</div>
