<div class="container col-md-3">
  <div class="photo_tile well">
    <% if photo %>
      <div class="thumbnail">
        <%= image_tag photo.image %>
      </div>
      <%= photo.caption %>
    <% end %>
  </div>
</div>
