<div class="container col-md-3">
  <div class="photo_tile well">
    <p class="small"><%= photo.user.username %></p>
    <div class="thumbnail">
      <%= image_tag photo.image %>
    </div>
    <%= photo.caption %>
  </div>
</div>
